
$muli: 'Muli', sans-serif;
$rubik:  'Rubik', sans-serif;
$font_awesome: 'FontAwesome';



$white-color: #fff;
$primary-color: #4776e6;
$primary-light: #47c6e6;
$primary-dark: #d20055;
$secondary-color: #8e54e9;
$blue-bg: #120f4e;
$primary-blue: #3a6af0;
$title-color: #222222;
$gray-color: #a9a9a9;
$dark-color: #222222;
$dark-light: #777777;

// Gradient Color
$gradient_primary: linear-gradient(to right, $primary-color 0%, $secondary-color 50%, $primary-color 100%);

$gradient_secondary: linear-gradient( to right, $primary-color 0%, $secondary-color 100%);
   

  
